 .searchResult {
     display: flex;
     position: relative;
     margin:20px;
     padding:20px;
     border-bottom: 1px solid lightgray;
     cursor: pointer;
 }

 .searchResult:hover {
     opacity: 0.8;
 }

 .searchResult > img {
     height: 200px;
     width: 350px;
     border-radius: 10px;
     overflow: hidden;
     object-fit: cover;
 }

 .searchResult__info {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding-left: 20px;
 }

 .searchResult__heart {
     position: absolute;
     top:20px;
     right: 40px;
 }

 .searchResult__infoTop {
     width: 40vw;
 }

.searchResult__infoTop > h3{
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop >p {
    margin-top: 10px;
    font-size: 13px;
    color:gray;
}

.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResult__star {
    color: red;
}

.searchResult__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 0.7em;
}

.searchResult__price > p {
    text-align: right;
}

/* Responsive Sections */

@media screen and (max-width:880px) {
    .searchResult__infoBottom {
        margin-top: 15px;
    }

    .searchResult__price {
        margin-left: 10px;
        font-size: 0.6em;

    }

    .searchResult__infoTop {
        margin-bottom: 10px;

    
    }

}

@media screen and (max-width: 650px) {
    .searchResult__heart {
        right: 0;
    }

    .searchResult__infoBottom {
        margin-top: 40px;
    }

    .searchResult__price {
        font-size: 0.5em;
    }
}

@media screen and (max-width:550px) {
    .searchResult__infoBottom {
        display: flex;
        margin-top: 20px;
        line-height: 1.5;
    }

    .searchResult__price {
        position: unset;
        font-size: 0.45em;
    }

    .searchResult__price> p {
        text-align: start;
    }

}